/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #ffffff;
}
/* fonts */
/* font-family: 'Comfortaa', cursive;
font-family: 'Jura', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */
a,
li {
  font-size: 2.2rem;
  text-decoration: none;
  list-style: none;
  /* color: #77787b; */
}
p {
  font-size: 2rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.8rem;
}

@import url("./styles/nav.css");
@import url("./styles/landing.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");
@import url("./styles/ipad.css");
