/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #ffffff;
}
/* fonts */
/* font-family: 'Comfortaa', cursive;
font-family: 'Jura', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */
a,
li {
  font-size: 2.2rem;
  text-decoration: none;
  list-style: none;
  color: #77787b;
}
p {
  font-size: 2rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.8rem;
}

@import url("./styles/nav.css");
@import url("./styles/landing.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");

/* IPAD */
@media screen and (max-width: 768px) {
  a,
  li {
    font-size: 1.8rem;
  }
  .landing-text p {
    font-size: 1.8rem;
  }
  .landing-text h2 {
    font-size: 3.2rem;
  }
  .main-nav ul {
    flex: 1;
  }
  .logo {
    width: 19rem;
    height: 5rem;
  }
  .banner-text {
    text-align: center;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .banner-icon {
    width: 56px;
  }
  footer h4 {
    font-size: 1.6rem;
  }
  footer p {
    font-size: 1.6rem;
  }
  .footer-wrap {
    text-align: center;
    flex: 2 1 30rem;
  }
  .follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .follow h4 {
    margin-top: 1rem;
  }
  .icon2 {
    width: 30px;
  }
}
