/* IPAD */
@media screen and (max-width: 768px) {
  a,
  li {
    font-size: 1.8rem;
  }
  .landing-text p {
    font-size: 1.8rem;
  }
  .landing-text h2 {
    font-size: 3.2rem;
  }
  .main-nav ul {
    flex: 1;
  }
  .logo {
    width: 19rem;
    height: 5rem;
  }
  .banner-text {
    text-align: center;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .banner-icon {
    width: 56px;
  }
  footer h4 {
    font-size: 1.6rem;
  }
  footer p {
    font-size: 1.6rem;
  }
  .footer-wrap {
    text-align: center;
    flex: 2 1 30rem;
  }
  .follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .follow h4 {
    margin-top: 1rem;
  }
  .icon2 {
    width: 30px;
  }
  .welcome-text h3 {
    font-size: 2.2rem;
    /* color: #77787b; */
    color: #77787b;
    margin: 2rem 10rem;
    line-height: 3.5rem;
    font-weight: 400;
  }
  .welcome-text p {
    font-size: 1.9rem;
    margin: 0rem 10rem;
    color: #77787b;
    line-height: 3.5rem;
  }
  .welcome-text img {
    margin: 0rem 10rem;
  }
  .pattern-dots-md {
    margin: 2rem auto;
    /* color: #f49ac1; */
    color: #e1e2dc;
    transform: translate(10px, -10px);
  }
}
