/* LANDING PAGE */
.landing {
  font-family: "Poppins", sans-serif;
  /* background-image: url(../images/Group\ 1.jpg); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-size: 100%; */
  position: relative;
  opacity: 0.7;
  /* top: 0%;
  left: 0%; */
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.welcome-img {
  object-fit: cover;
  height: 90vh;
}
.landing-text {
  border-radius: 3rem;
  background: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  right: 49%;
  padding: 3rem;
  opacity: 0.9;
  z-index: -1;
}

.landing-text h2 {
  color: #f49ac1;
}
.landing-text p {
  color: #77787b;
}

/* WAVE landing page */
.custom-shape-divider-bottom-1610918416 {
  position: absolute;
  top: 30%;
  bottom: 0%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-bottom-1610918416 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 100px;
}
.custom-shape-divider-bottom-1610918416 .shape-fill {
  fill: white;
}

/* WELCOME INFO */

.welcome-info {
  /* margin: 10rem 0rem; */
  font-family: "Comfortaa", cursive;
  background: white;
  /* background: #77787b; */
  /* background: #734e46; */
  min-height: 60vh;
  /* width: 75%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-end; */
  /* margin-left: 11rem; */
}
.welcome-text h3 {
  color: #77787b;
  /* color: white; */
  margin: 2rem 0rem;
  line-height: 3.5rem;
  font-weight: 400;
}
.welcome-text p {
  color: #77787b;
  /* color: white; */
  line-height: 3.5rem;
}
/* .welcome-kolaz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}
.kolaz {
  border-radius: 2rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;
} */
.pattern-dots-md {
  /* margin: 3rem; */
  color: #f49ac1;
  transform: translate(10px, -10px);
}
